html {
  scroll-behavior: smooth;
}
body {
  background: #f5f5f5;
  padding: 2% 3%;
  margin: 0px;
}
h1,
h2,
h3,
input,
p,
a,
code {
  font-family: -apple-system, "Inter", sans-serif;
}
h1 {
  font-size: 50px;
}
a {
  color: var(--primary-col-ac);
}
.website-title {
  margin-top: 0px;
}
.img-landing {
  height: 400px;
  display: block;
  margin: auto;
  max-width: 100%;
}
.talk-about-it {
  padding: 1% 5%;
}
.cta {
  height: 50vh;
}
.code,
.hljs {
  background: #262526;
  color: #f3f3f3;
  border-radius: 5px;
}
code.code {
  padding: 1px 5px;
}
.route {
  background: #e6e6e6;
  border-radius: 5px;
}
.route > p {
  display: inline-block;
}

.a,
.hljs-class,
.hljs-variable,
.hljs-template-variable .hljs-name,
.hljs-selector-id,
.hljs-selector-class,
.hljs-regexp,
.hljs-deletion,
.hljs-attr {
  color: #70ff6e;
}
.av,
.hljs-string,
.hljs-symbol,
.hljs-bullet,
.hljs-addition {
  color: #6ea4ff;
}
.h,
.hljs-variable,
.hljs-template-variable,
.hljs-name,
.hljs-selector-id,
.hljs-selector-class,
.hljs-regexp,
.hljs-deletion {
  color: #ff6e6e;
}
pre {
  padding-left: 15px;
  overflow: auto;
}
.doc_card {
  display: block;
  margin: auto;
  padding: calc(32% - 40px);
  border-radius: 20px;
  font-size: 40px;
  border: 4px solid;
  color: #555;
  text-decoration: none;
  text-align: center;
  margin-top: 50px;
}

.p-layout .p-large-title {
  font-size: 2.75rem;
}

.p-layout h1 {
  font-size: 2.25rem;
}

.p-layout h2 {
  font-size: 1.75rem;
}

.p-layout h3 {
  font-size: 1.58rem;
}

.p-layout .p-headline {
  font-size: 1.34rem;
  font-weight: bold;
}

.p-layout p {
  font-size: 1.15rem;
}

.p-layout a,
.p-layout input {
  font-size: 1.14rem;
}

.p-layout .p-callout {
  font-size: 1.14rem;
}

.p-layout .p-subhead {
  font-size: 1.167rem;
}

.p-layout .p-footnote {
  font-size: 1.07rem;
}

.p-layout .p-caption {
  font-size: 0.91rem;
}

.color_base {
  display: block;
  margin: auto;
  text-shadow: 0 2px 2px rgba(0, 0, 0, 0.5);
}

.h-50 {
  padding: 5px 10px;
  padding-left: 30px;
  height: auto;
}

.h-50 p {
  margin: 0;
}

.pad_15_row > div {
  margin-top: 15px;
}

.col-w {
  color: #fff;
}

.col-b {
  color: #000;
}

.center_row {
  justify-content: center;
}

.color_base {
  cursor: pointer;
}

#textarea_color {
  opacity: 0;
}

.copy_correct {
  width: 200px;
  background: #fff;
  border-radius: 3px;
  box-shadow: 0px 8px 10px -8px rgba(0, 0, 0, 0.1);
  border: 1px solid rgba(0, 0, 0, 0.1);
  position: fixed;
  right: 5%;
  bottom: 0%;
  opacity: 0;
  pointer-events: none;
  transition: all 0.3s;
  padding: 20px;
}

.copy_correct.active {
  bottom: 5%;
  opacity: 1;
}

#color_talk {
  border-radius: 5px;
  padding: 1px 5px;
  color: #fff;
  text-shadow: 0 2px 2px rgba(0, 0, 0, 0.5);
  border: 2px solid #e0e0e0;
}

.content_smol{
  display: flex;
  justify-content: center;
}

.mw-300{
  width: 300px;
}

.demo_segmented{
  --color-segmented:#68b723;
  --color-lighter-segment: #d1ff82;
}