@import "var/color";
@import "var/font";

.p-btn {
  background: #fff;
  border: 1px solid #cacaca;
  border-radius: 5px;
  color: #333230;
  display: inline-block;
  font-family: $font;
  font-size: 17px;
  margin: 10px;
  padding: 5px 20px;
  text-decoration: none;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.25);

  &[disabled] {
    background: #d3d3d3;
    color: #555;
    cursor: not-allowed;
  }

  &:disabled {
    background: #d3d3d3;
    color: #555;
    cursor: not-allowed;
  }

  &-disabled {
    background: #d3d3d3;
    color: #555;
    cursor: not-allowed;
  }
}

.p-prim-col {
  background: $primary-col;
  border: 0;
  color: #fff;
}

.p-btn.p-prim-col:active {
  background: $primary-col-ac;
}

.p-btn-more::after {
  content: "...";
}

.p-btn-round {
  border: 0;
  border-radius: 50px;
  padding: 10px 30px;
}

.p-btn-icon {
  background: #fff;
  border: 2px solid currentColor;
  border-radius: 50%;
  box-shadow: 0 3px 10px -8px #000;
  color: #0f75f5;
  font-weight: 900;
  margin: 5px;
  text-decoration: none;
  width: 36px;
  height: 36px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.p-btn-scope {
  background: #8e8e8e;
  color: #fff;
  margin: 5px;
  padding: 2px 20px;

  &-unactive {
    background: transparent;
    border-color: transparent;
    color: #212136;
    transition: border-color 0.2s;

    &:hover {
      border-color: #cacaca;
    }
  }

  &-disabled {
    background: transparent;
    color: #8e8e8e;
    cursor: not-allowed;
  }

  &-outline {
    background: transparent;
    color: #212136;
  }
}

.p-btn-scope-outline {
  background: transparent;
  color: #212136;
}

.p-btn-outline {
  background: none;
  border-color: currentColor;
}

.p-btn-outline-dash {
  background: none;
  border-color: currentColor;
  border-style: dashed;
}

.p-btn-direction {
  text-decoration: none;
  padding: 5px;
  color: #212136;
}

.p-btn-direction.p-btn-d-back::before {
  content: "❬";
}

.p-btn-direction.p-btn-d-next::after {
  content: "❭";
}



@media (max-width: 576px) {
  .p-btn-big-sm {
    border: 0;
    border-radius: 0%;
    bottom: 0;
    font-size: 50px;
    left: 0;
    margin: 0;
    padding: 10px 0;
    position: fixed;
    text-align: center;
    width: 100%;
  }
}
