@import "var/color";

.p-card {
  background: rgba(255, 255, 255, 0.3);
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 3px;
  box-shadow: 0 8px 10px -8px rgba(0, 0, 0, 0.1);
  color: $font-color;
  display: block;
  margin-top: 30px;
  text-decoration: none;

  &__image > img {
    border-bottom: 3px solid var(--accent-article);
    display: block;
    margin: auto;
    width: 100%;
  }

  &__tags {
    display: flex;
    overflow: hidden;
    position: relative;
    width: 100%;

    &::before {
      background: linear-gradient(
        to right,
        rgba(255, 255, 255, 0) 0%,
        rgba(255, 255, 255, 0) 75%,
        rgba(255, 255, 255, 1) 100%
      );
      content: "";
      height: 100%;
      position: absolute;
      right: 0;
      top: 0;
      width: 30%;
    }

    span,
    a {
      border: 1px solid #252525;
      border-radius: 50px;
      color: #252525;
      margin: 5px;
      padding: 5px 15px;
      text-decoration: none;
      transition: all 0.2s;
    }

    a:hover {
      background: #252525;
      color: $font-color;
    }
  }

  &__title {
    font-size: 2rem;
    margin-bottom: 15px;
    margin-top: 10px;
  }

  &__content {
    padding: 15px;
    padding-top: 5px;
  }

  &__text {
    font-size: 17px;
    margin-bottom: 10px;
    margin-left: 10px;
    margin-top: 0;
  }
}
