@import "var/color";
@import "var/font";

:root {
  --primary-col-ac: #0f75f5;
  --bg-color: #fff;
  --bg-hover-color: #f9f9f9;
  --bg-front-col: #000;
  --invalid-color: #d6513c;
  --valid-color: #94d63c;
}

/* START OF BUTTONS */

.p-btn {
  background: #fff;
  border: 1px solid #cacaca;
  border-radius: 5px;
  color: #333230;
  display: inline-block;
  font-family: $font;
  font-size: 17px;
  margin: 10px;
  padding: 5px 20px;
  text-decoration: none;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.25);
}

.p-btn-disabled {
  background: #d3d3d3;
  color: #555;
  cursor: not-allowed;
}

.p-prim-col {
  background: $primary-col;
  border: 0;
  color: #fff;
}

.p-btn.p-prim-col:active {
  background: $primary-col-ac;
}

.p-btn-round {
  border: 0;
  border-radius: 50px;
  padding: 10px 30px;
}

.p-btn-more::after {
  content: "...";
}

.p-btn-help {
  background: #fff;
  border: 2px solid #cacaca;
  border-radius: 50%;
  box-shadow: 0 3px 10px -8px #000;
  color: #0f75f5;
  font-weight: 900;
  margin: 0;
  padding: 5px 10px;
  text-decoration: none;
}

.p-btn-scope {
  background: #8e8e8e;
  color: #fff;
  margin: 5px;
  padding: 2px 20px;
}

.p-btn-scope-unactive {
  background: transparent;
  border-color: transparent;
  color: #212136;
  transition: border-color 0.2s;
}

.p-btn-scope-unactive:hover {
  border-color: #cacaca;
}

.p-btn-scope-disabled {
  background: transparent;
  color: #8e8e8e;
  cursor: not-allowed;
}

.p-btn-scope-outline {
  background: transparent;
  color: #212136;
}

@media (max-width: 576px) {
  .p-btn-big-sm {
    border: 0;
    border-radius: 0%;
    bottom: 0;
    font-size: 50px;
    left: 0;
    margin: 0;
    position: fixed;
    text-align: center;
    width: 100%;
  }
}

/* END OF BUTTONS */

/* START OF FORMS */

.p-form-select {
  border-radius: 5px;
  display: inline-block;
  font-family: $font;
  margin: 10px;
  position: relative;

  &::before {
    border-color: #fff transparent transparent;
    border-style: solid;
    border-width: 5px;
    content: "";
    pointer-events: none;
    position: absolute;
    right: 5px;
    top: calc(50% - 3px);
    z-index: 3;
  }

  &::after {
    background: $primary-col;
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
    bottom: 0;
    content: "";
    display: block;
    height: 100%;
    pointer-events: none;
    position: absolute;
    right: 0;
    top: 0;
    width: 20px;
  }

  select {
    background: var(--bg-color);
    border: 1px solid #cacaca;
    border-radius: 5px;
    font-size: 14px;
    margin: 0;
    outline: none;
    padding: 5px 10px;
    position: relative;
    width: 100%;
  }
}

.p-form-text:invalid,
.p-form-select > select:invalid {
  border-color: var(--invalid-color);
}

.p-form-text:valid,
.p-form-select > select:valid {
  border-color: var(--valid-color);
}

.p-form-text:placeholder-shown,
.p-form-select > select:placeholder-shown {
  border-color: #cacaca;
}

.p-form-text {
  background: var(--bg-color);
  border: 1px solid #cacaca;
  border-radius: 5px;
  font-family: var(--font);
  margin: 10px;
  outline: 0;
  padding: 5px;
  resize: none;
  transition: border-color 200ms;

  &:focus {
    border-color: $primary-col-ac;
  }

  &[type="password"] {
    font-family: caption, sans-serif;
  }
}

.p-form-no-validate:valid,
.p-form-no-validate:invalid,
.p-form-no-validate > select:valid,
.p-form-no-validate > select:invalid {
  border: 1px solid #cacaca;
}

textarea.p-form-text {
  height: 100px;
}

.p-form-truncated {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.p-form-label,
.p-form-radio-cont,
.p-form-checkbox-cont {
  font-family: $font;
}

.p-form-label {
  display: block;
}

.p-form-radio-cont,
.p-form-checkbox-cont {
  align-items: center;
  display: inline-flex;
  margin: 0 10px;
}

.p-form-radio-cont > input + span,
.p-form-checkbox-cont > input + span {
  background: var(--bg-color);
  border: 1px solid #cacaca;
  border-radius: 50%;
  cursor: pointer;
  display: inline-block;
  height: 20px;
  margin-right: 5px;
  position: relative;
  transition: background 0.2s;
  width: 20px;
}

.p-form-radio-cont > input + span:hover {
  background: var(--bg-hover-color);
}

.p-form-radio-cont > input,
.p-form-checkbox-cont > input {
  opacity: 0;
  pointer-events: none;
  position: absolute;
}

.p-form-radio-cont > input + span::after {
  background: #fff;
  border-radius: 50%;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
  content: "";
  display: block;
  height: 30%;
  left: calc(50% - 15%);
  opacity: 0;
  position: absolute;
  top: calc(50% - 15%);
  transform: scale(2);
  transition: opacity 0.2s, transform 0.3s;
  width: 30%;
}

.p-form-radio-cont > input:checked + span {
  background: $primary-col-ac;
}

.p-form-radio-cont > input:checked + span::after {
  opacity: 1;
  transform: scale(1);
}

.p-form-checkbox-cont > input + span {
  border-radius: 5px;
}

.p-form-checkbox-cont > input:checked + span {
  background: $primary-col-ac;
}

.p-form-checkbox-cont > input + span::before,
.p-form-checkbox-cont > input + span::after {
  background: #fff;
  border-radius: 20px;
  content: "";
  display: block;
  height: 8%;
  position: absolute;
}

.p-form-checkbox-cont > input + span::before {
  right: 30%;
  top: 15%;
  transform: rotate(-65deg);
  transform-origin: top right;
  width: 70%;
}

.p-form-checkbox-cont > input + span::after {
  left: 30%;
  top: 43%;
  transform: rotate(60deg);
  transform-origin: top left;
  width: 40%;
}

.p-form-button {
  background: #fff;
  border: 1px solid #cacaca;
  border-radius: 5px;
  color: #333230;
  display: inline-block;
  font-size: 17px;
  margin: 10px;
  padding: 5px 20px;
  text-decoration: none;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.25);
}

.p-form-send {
  background: $gradient-prime;
  border: 1px solid #4fc5fa;
  color: #fff;
}

.p-form-send:active {
  background: $primary-col-ac;
}

.p-form-invalid,
.p-form-invalid:placeholder-shown,
.p-form-invalid:valid,
.p-form-invalid:invalid {
  border-color: var(--invalid-color);
}

.p-form-valid,
.p-form-valid:placeholder-shown,
.p-form-valid:valid,
.p-form-valid:invalid {
  border-color: var(--valid-color);
}

.p-form-switch > input:checked + span::after {
  left: calc(100% - calc(var(--width) / 2.1));
}

.p-form-switch {
  --width: 80px;
  cursor: pointer;
  display: inline-block;
}

.p-form-switch > input:checked + span {
  background: #60c35b;
}

.p-form-switch > span {
  background: #e0e0e0;
  border: 1px solid #d3d3d3;
  border-radius: 500px;
  display: block;
  height: calc(var(--width) / 2);
  overflow: hidden;
  position: relative;
  transition: all 0.2s;
  width: var(--width);
}

.p-form-switch > span::after {
  background: #f9f9f9;
  border-radius: 50%;
  box-shadow: 0 3px 1px rgba(0, 0, 0, 0.1), 0 1px 1px rgba(0, 0, 0, 0.16),
    0 3px 8px rgba(0, 0, 0, 0.15);
  content: "";
  height: 90%;
  left: 3%;
  position: absolute;
  top: 4.5%;
  transition: all 0.2s;
  width: 45%;
}

.p-form-switch > input {
  display: none;
}

/* END OF FORMS */

/* START OF MODALS */

:root {
  --bg-hover-color: #f9f9f9;
  --primary-col-ac: #0f75f5;
}

.p-modal-opened {
  overflow: hidden;
}

.p-modal-background {
  background: rgba(0, 0, 0, 0.3);
  height: 100vh;
  left: 0;
  opacity: 0;
  pointer-events: none;
  position: fixed;
  top: 0;
  transition: all 0.3s;
  width: 100vw;
  z-index: 5;
}

.p-modal {
  background: rgba(255, 255, 255, 0.7);
  border-radius: 20px;
  box-shadow: 0 10px 20px -15px;
  font-family: $font;
  left: calc(50% - 20vw);
  opacity: 0;
  overflow: hidden;
  pointer-events: none;
  position: fixed;
  text-align: center;
  top: calc(50% - 20vh);
  transform: scale(1.5);
  transition: opacity 0.3s, transform 0.3s;
  width: 40vw;
  z-index: 9;
}

.p-modal.active {
  backdrop-filter: blur(5px);
  opacity: 1;
  pointer-events: auto;
  transform: scale(1);
}

.p-modal-button-container {
  border-radius: 20px;
  display: flex;
}

.p-modal-button-container > a {
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  color: $primary-col-ac;
  padding: 30px 0%;
  text-decoration: none;
  width: 100%;
}

.p-modal-button-container > a:nth-child(2),
.p-modal-button-container > a:nth-child(3) {
  border-left: 1px solid rgba(0, 0, 0, 0.1);
}

.nowactive {
  opacity: 1;
  pointer-events: auto;
}

.p-modal p {
  padding: 0% 2%;
}

@supports not (backdrop-filter: blur(5px)) {
  .p-modal {
    background: #fff;
  }
}

@media (max-width: 568px) {
  .p-modal {
    bottom: 20%;
    left: 15%;
    top: unset;
    width: 70vw;
  }

  .p-modal p {
    font-size: 15px;
  }

  .p-modal-button-container {
    display: block;
  }

  .p-modal-button-container > a {
    border-left: 0 !important;
    display: block;
    padding: 2vh 0%;
  }
}

/* END OF MODALS */

/* START OF LAYOUT */
.p-layout .p-large-title {
  font-size: 2.75rem;
}

.p-layout h1 {
  font-size: 2.25rem;
}

.p-layout h2 {
  font-size: 1.75rem;
}

.p-layout h3 {
  font-size: 1.58rem;
}

.p-layout .p-headline {
  font-size: 1.34rem;
  font-weight: bold;
}

.p-layout p {
  font-size: 1.15rem;
}

.p-layout a,
.p-layout input {
  font-size: 1.14rem;
}

.p-layout .p-callout {
  font-size: 1.14rem;
}

.p-layout .p-subhead {
  font-size: 1.167rem;
}

.p-layout .p-footnote {
  font-size: 1.07rem;
}

.p-layout .p-caption {
  font-size: 0.91rem;
}
/* END OF LAYOUT */

/* START OF PALETTE */

.p-strawberry {
  background: #c6262e;
}

.p-strawberry-100 {
  background: #ff8c82;
}

.p-strawberry-300 {
  background: #ed5353;
}

.p-strawberry-500 {
  background: #c6262e;
}

.p-strawberry-700 {
  background: #a10705;
}

.p-strawberry-900 {
  background: #7a0000;
}

.p-orange {
  background: #f37329;
}

.p-orange-100 {
  background: #ffc27d;
}

.p-orange-300 {
  background: #ffa154;
}

.p-orange-500 {
  background: #f37329;
}

.p-orange-700 {
  background: #cc3b02;
}

.p-orange-900 {
  background: #a62100;
}

.p-banana {
  background: #f9c440;
}

.p-banana-100 {
  background: #fff394;
}

.p-banana-300 {
  background: #ffe16b;
}

.p-banana-500 {
  background: #f9c440;
}

.p-banana-700 {
  background: #d48e15;
}

.p-banana-900 {
  background: #ad5f00;
}

.p-lime {
  background: #68b723;
}

.p-lime-100 {
  background: #d1ff82;
}

.p-lime-300 {
  background: #9bdb4d;
}

.p-lime-500 {
  background: #68b723;
}

.p-lime-700 {
  background: #3a9104;
}

.p-lime-900 {
  background: #206b00;
}

.p-mint {
  background: #28bca3;
}

.p-mint-100 {
  background: #89ffdd;
}

.p-mint-300 {
  background: #43d6b5;
}

.p-mint-500 {
  background: #28bca3;
}

.p-mint-700 {
  background: #0e9a83;
}

.p-mint-900 {
  background: #007367;
}

.p-blueberry {
  background: #3689e6;
}

.p-blueberry-100 {
  background: #8cd5ff;
}

.p-blueberry-300 {
  background: #64baff;
}

.p-blueberry-500 {
  background: #3689e6;
}

.p-blueberry-700 {
  background: #0d52bf;
}

.p-blueberry-900 {
  background: #002e99;
}

.p-grape {
  background: #a56de2;
}

.p-grape-100 {
  background: #e4c6fa;
}

.p-grape-300 {
  background: #cd9ef7;
}

.p-grape-500 {
  background: #a56de2;
}

.p-grape-700 {
  background: #7239b3;
}

.p-grape-900 {
  background: #452981;
}

.p-bubblegum {
  background: #de3e80;
}

.p-bubblegum-100 {
  background: #fe9ab8;
}

.p-bubblegum-300 {
  background: #f4679d;
}

.p-bubblegum-500 {
  background: #de3e80;
}

.p-bubblegum-700 {
  background: #bc245d;
}

.p-bubblegum-900 {
  background: #910e38;
}

.p-cocoa {
  background: #715344;
}

.p-cocoa-100 {
  background: #a3907c;
}

.p-cocoa-300 {
  background: #8a715e;
}

.p-cocoa-500 {
  background: #715344;
}

.p-cocoa-700 {
  background: #57392d;
}

.p-cocoa-900 {
  background: #3d211b;
}

.p-silver {
  background: #abacae;
}

.p-silver-100 {
  background: #fafafa;
}

.p-silver-300 {
  background: #d4d4d4;
}

.p-silver-500 {
  background: #abacae;
}

.p-silver-700 {
  background: #7e8087;
}

.p-silver-900 {
  background: #555761;
}

.p-slate {
  background: #485a6c;
}

.p-slate-100 {
  background: #95a3ab;
}

.p-slate-300 {
  background: #667885;
}

.p-slate-500 {
  background: #485a6c;
}

.p-slate-700 {
  background: #273445;
}

.p-slate-900 {
  background: #0e141f;
}

.p-dark {
  background: #333;
}

.p-dark-100 {
  background: #666;
  /* hehe */
}

.p-dark-300 {
  background: #4d4d4d;
}

.p-dark-500 {
  background: #333;
}

.p-dark-700 {
  background: #1a1a1a;
}

.p-dark-900 {
  background: #000;
}

.p-strawberry-color {
  color: #c6262e;
}

.p-strawberry-100-color {
  color: #ff8c82;
}

.p-strawberry-300-color {
  color: #ed5353;
}

.p-strawberry-500-color {
  color: #c6262e;
}

.p-strawberry-700-color {
  color: #a10705;
}

.p-strawberry-900-color {
  color: #7a0000;
}

.p-orange-color {
  color: #f37329;
}

.p-orange-100-color {
  color: #ffc27d;
}

.p-orange-300-color {
  color: #ffa154;
}

.p-orange-500-color {
  color: #f37329;
}

.p-orange-700-color {
  color: #cc3b02;
}

.p-orange-900-color {
  color: #a62100;
}

.p-banana-color {
  color: #f9c440;
}

.p-banana-100-color {
  color: #fff394;
}

.p-banana-300-color {
  color: #ffe16b;
}

.p-banana-500-color {
  color: #f9c440;
}

.p-banana-700-color {
  color: #d48e15;
}

.p-banana-900-color {
  color: #ad5f00;
}

.p-lime-color {
  color: #68b723;
}

.p-lime-100-color {
  color: #d1ff82;
}

.p-lime-300-color {
  color: #9bdb4d;
}

.p-lime-500-color {
  color: #68b723;
}

.p-lime-700-color {
  color: #3a9104;
}

.p-lime-900-color {
  color: #206b00;
}

.p-mint-color {
  color: #28bca3;
}

.p-mint-100-color {
  color: #89ffdd;
}

.p-mint-300-color {
  color: #43d6b5;
}

.p-mint-500-color {
  color: #28bca3;
}

.p-mint-700-color {
  color: #0e9a83;
}

.p-mint-900-color {
  color: #007367;
}

.p-blueberry-color {
  color: #3689e6;
}

.p-blueberry-100-color {
  color: #8cd5ff;
}

.p-blueberry-300-color {
  color: #64baff;
}

.p-blueberry-500-color {
  color: #3689e6;
}

.p-blueberry-700-color {
  color: #0d52bf;
}

.p-blueberry-900-color {
  color: #002e99;
}

.p-grape-color {
  color: #a56de2;
}

.p-grape-100-color {
  color: #e4c6fa;
}

.p-grape-300-color {
  color: #cd9ef7;
}

.p-grape-500-color {
  color: #a56de2;
}

.p-grape-700-color {
  color: #7239b3;
}

.p-grape-900-color {
  color: #452981;
}

.p-bubblegum-color {
  color: #de3e80;
}

.p-bubblegum-100-color {
  color: #fe9ab8;
}

.p-bubblegum-300-color {
  color: #f4679d;
}

.p-bubblegum-500-color {
  color: #de3e80;
}

.p-bubblegum-700-color {
  color: #bc245d;
}

.p-bubblegum-900-color {
  color: #910e38;
}

.p-cocoa-color {
  color: #715344;
}

.p-cocoa-100-color {
  color: #a3907c;
}

.p-cocoa-300-color {
  color: #8a715e;
}

.p-cocoa-500-color {
  color: #715344;
}

.p-cocoa-700-color {
  color: #57392d;
}

.p-cocoa-900-color {
  color: #3d211b;
}

.p-silver-color {
  color: #abacae;
}

.p-silver-100-color {
  color: #fafafa;
}

.p-silver-300-color {
  color: #d4d4d4;
}

.p-silver-500-color {
  color: #abacae;
}

.p-silver-700-color {
  color: #7e8087;
}

.p-silver-900-color {
  color: #555761;
}

.p-slate-color {
  color: #485a6c;
}

.p-slate-100-color {
  color: #95a3ab;
}

.p-slate-300-color {
  color: #667885;
}

.p-slate-500-color {
  color: #485a6c;
}

.p-slate-700-color {
  color: #273445;
}

.p-slate-900-color {
  color: #0e141f;
}

.p-dark-color {
  color: #333;
}

.p-dark-100-color {
  color: #666;
  /* hehe */
}

.p-dark-300-color {
  color: #4d4d4d;
}

.p-dark-500-color {
  color: #333;
}

.p-dark-700-color {
  color: #1a1a1a;
}

.p-dark-900-color {
  color: #000;
}

/* END OF PALETTE */
