.p-layout .p-large-title {
  font-size: 2.75rem;
}

.p-layout h1 {
  font-size: 2.25rem;
}

.p-layout h2 {
  font-size: 1.75rem;
}

.p-layout h3 {
  font-size: 1.58rem;
}

.p-layout .p-headline {
  font-size: 1.34rem;
  font-weight: bold;
}

.p-layout p {
  font-size: 1.15rem;
}

.p-layout a,
.p-layout input {
  font-size: 1.14rem;
}

.p-layout .p-callout {
  font-size: 1.14rem;
}

.p-layout .p-subhead {
  font-size: 1.167rem;
}

.p-layout .p-footnote {
  font-size: 1.07rem;
}

.p-layout .p-caption {
  font-size: 0.91rem;
}
