:root {
  --font: -apple-system, "Inter", sans-serif;
  --bg-hover-color: #f9f9f9;
  --primary-col-ac: #0f75f5;
}

.p-modal-opened {
  overflow: hidden;
}

.p-modal-background {
  background: rgba(0, 0, 0, 0.3);
  height: 100vh;
  left: 0;
  opacity: 0;
  pointer-events: none;
  position: fixed;
  top: 0;
  transition: all 0.3s;
  width: 100vw;
  z-index: 5;
}

.p-modal {
  background: rgba(255, 255, 255, 0.85);
  border-radius: 20px;
  bottom: calc(50% - 20vh);
  box-shadow: 0 10px 20px -15px;
  font-family: var(--font);
  left: calc(50% - 20vw);
  opacity: 0;
  overflow: hidden;
  pointer-events: none;
  position: fixed;
  text-align: center;
  transform: scale(1.5);
  transition: opacity 0.3s, transform 0.3s;
  width: 40vw;
  z-index: 9;
}

.p-modal.active {
  backdrop-filter: saturate(180%) blur(10px);
  opacity: 1;
  pointer-events: auto;
  transform: scale(1);
}

.p-modal-button-container {
  border-radius: 20px;
  display: flex;
}

.p-modal-button-container > a {
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  color: var(--primary-col-ac);
  padding: 30px 0%;
  text-decoration: none;
  width: 100%;
}

.p-modal-button-container > a:nth-child(2),
.p-modal-button-container > a:nth-child(3) {
  border-left: 1px solid rgba(0, 0, 0, 0.1);
}

.nowactive {
  opacity: 1;
  pointer-events: auto;
}

.p-modal p {
  padding: 0% 5%;
}

@supports not (backdrop-filter: blur(5px)) {
  .p-modal {
    background: #fff;
  }
}

@media (max-width: 568px) {
  .p-modal {
    bottom: 20%;
    left: 15%;
    top: unset;
    width: 70vw;
  }

  .p-modal p {
    font-size: 15px;
    padding: 0% 10%;
  }

  .p-modal-button-container {
    display: block;
  }

  .p-modal-button-container > a {
    border-left: 0 !important;
    display: block;
    padding: 2vh 0%;
  }
}
