.p-tabs-container {
  background: #e3e3e3;
  border: 1px solid #e0e0e0;
  padding: 1em;
}

.p-tabs-container.p-light {
  background: none;
  border: 0;
}

.p-tabs-container.p-light .p-panels {
  border-radius: 0;
  margin-top: 0;
  padding: 0;
}

.p-tabs {
  display: flex;
  justify-content: center;
}

.p-tabs > :nth-of-type(1) {
  border-radius: 5px 0 0 5px;
}

.p-tabs > :last-child {
  border-radius: 0 5px 5px 0;
}

.p-tab {
  margin: 0;
  background: #fff;
  padding: 5px 35px;
  color: #333230;
  text-decoration: none;
  border: 1px solid #cacaca;
  /* text-shadow: 0 1px 1px rgba(0, 0, 0, 0.25); */
  display: inline-block;
  cursor: pointer;
  font-family: -apple-system, "Inter", sans-serif;
  font-size: 17px;
}

.p-tab:focus {
  outline: 0;
}

.p-is-active {
  background: linear-gradient(to bottom, #4fc5fa 0%, #0f75f5 100%);
  border: 0;
  color: #fff;
}

.p-panels {
  background: #fff;
  margin-top: 1em;
  border-radius: 3px;
  overflow: hidden;
  padding: 0.8em;
  position: relative;
}

.p-panel.p-is-active {
  opacity: 1;
  background: none;
  pointer-events: all;
  color: inherit;
  position: static;
}

.p-panel {
  opacity: 0;
  position: absolute;
  pointer-events: none;
}

@media (max-width: 768px) {
  .p-tabs {
    overflow: auto;
  }
  .p-tab {
    font-size: 0.8em;
    padding: 5px 28px;
  }
  .p-tabs-container {
    padding: 0.8em;
  }

  .p-panels {
    padding: 0.8em;
  }
}

@media screen and (max-width: 496px) {
  .p-tab {
    padding: 5px 18px;
    text-align: center;
  }
  .p-tabs-container {
    padding: 0.5em;
  }

  .p-panels {
    margin-top: 0.5em;
    padding: 0.5em;
  }
}

@media screen and (max-width: 378px) {
  .p-tab {
    text-align: center;
    padding: 5px 10px;
  }
  .p-tabs-container {
    padding: 0.5em;
  }

  .p-panels {
    margin-top: 0.5;
    padding: 0.5em;
  }
}

.p-mobile-tabs {
  background: rgba(202, 202, 202, 0.8);
  border-top: 1px solid #949494;
  backdrop-filter: blur(10px);
  bottom: 0;
  display: flex;
  font-family: -apple-system, "Inter", sans-serif;
  left: 0;
  padding: 15px 0px;
  position: fixed;
  width: 100%;
}

.p-mobile-tabs > div {
  flex: auto;
  text-align: center;
}

.p-mobile-tabs a {
  color: #555;
  display: inline-block;
  text-decoration: none;
  transition: color 0.5s;
  font-size: 0.8rem;
}

.p-mobile-tabs a.active {
  color: #0f75f5;
  font-weight: 600;
}

.p-mobile-tabs svg {
  display: block;
  margin: auto;
  margin-bottom: 0.2rem;
}

.p-mobile-tabs--content {
  display: none;
}

.p-mobile-tabs--content.active {
  display: block;
}
